# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local environment variable file
.env

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
venv/
env/
.env/

# Test coverage reports
htmlcov/
.coverage